:root {
    --bg-color: #f5f5f9;
    --text-color: #000000;
    --card-bg: #f8f9fa;
    --primary-color: #00a652;
    --secondary-color: #f8a619;
    --table-odd-row: #d4edda;
    --table-even-row: #fff3cd;
  }
  
  [data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --card-bg: #1e1e1e;
    --table-odd-row: #003a0e;
    --table-even-row: #443400;
    .bg-label-success{
      color: rgb(53, 53, 53) !important;
}
  }
html.bangla-font body {
  font-family: 'Tiro Bangla', serif !important;
}
[lang="en"] {
  body{
    top: 0px !important;
  }
}
[lang="bn"] {
  font-family: 'Tiro Bangla', serif !important;   
  font{
    font-family: 'Tiro Bangla', serif !important;
  }
  .VIpgJd-ZVi9od-ORHb-OEVmcd{
    display: none !important;
  }
  #google_translate_element .skiptranslate{
    display: block !important;
  }
  body{
    top: 0px !important;
  }
  .goog-te-gadget-simple {
    background-color: transparent !important;
    color: var(--text-color) !important;
    padding: 5px 0px 5px 5px !important;
    border-radius: 5px;
    margin-right: 15px;
  }
  .goog-te-gadget-simple img{
    display: none !important;
  }
  .goog-te-gadget-simple span {
    color: var(--text-color) !important;
    margin-right: 5px !important;
  }
  input , select , input::placeholder, textarea {
    font-family: 'Tiro Bangla', serif !important;
  }
}
.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
  }
  .goog-te-gadget-simple {
    background-color: transparent !important;
    color: var(--text-color) !important;
    padding: 5px 0px 5px 5px !important;
    border-radius: 5px;
    margin-right: 15px;
  }
  .goog-te-gadget-simple img{
    display: none !important;
  }
  .goog-te-gadget-simple span {
    color: var(--text-color) !important;
    margin-right: 5px !important;
  }
  body  {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
    color: var(--text-color) !important;
  }
  .card, .navbar, .sidebar {
    background-color: var(--card-bg);
    color: var(--text-color);
  }
  .layout-navbar , .bg-menu-theme , .layout-menu{
    background-color: var(--card-bg) !important;
    color: var(--text-color) !important;
  }

.pass-error{
    position: absolute;
    bottom: -20px;
}
.login.app-brand-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -105px;
  background: var(--card-bg);
}
.login-darkMOde{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
.btn-primary  {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: none;
  }
  
  .btn-primary:hover , .btn-primary:active , .btn-primary:focus{
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    box-shadow: none;
  }
  
  .btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  
  .btn-secondary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .text-primary {
    color: var(--primary-color) !important;
  }
  
  .text-secondary {
    color: var(--secondary-color) !important;
  }
  .form-control:focus , .input-group:focus-within .form-control , .input-group:focus-within .input-group-text {
    border-color: var(--primary-color) !important;
  }
  .form-control {
    color: var(--text-color) !important;
  }
  input:-webkit-autofill {
    -webkit-text-fill-color: var(--text-color) !important;
}
.btn-outline-primary {
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
  }
  
  .btn-outline-primary:hover {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #fff !important;
    box-shadow: none !important;
  }
  .btn-outline-primary:focus , .btn-outline-primary:active{
    color: #fff !important;
    background-color: var(--primary-color) !important;
  }
  .btn-outline-secondary {
    color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
  }
  
  .btn-outline-secondary:hover {
    background-color: var(--secondary-color) !important;
    color: #fff !important;
    box-shadow: none !important;
    border-color: var(--secondary-color) !important;
  }
  .btn-outline-secondary:focus , .btn-outline-secondary:active{
    color: #fff !important;
    background-color: var(--secondary-color) !important;
  }
  .text-muted{
    color: var(--secondary-color) !important;
  }
  .bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
    color: var(--primary-color) !important;
    background-color: #00a65336 !important;
}
.bg-label-primary{
    background-color: var(--primary-color) !important;
    color: #fff !important;
}
.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus {
    color: #fff !important;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.nav-pills .nav-link {
    color: var(--text-color) !important;
}
.menu .app-brand.demo {
  height: 100px;
  margin-top: 12px;
  padding: 0 10px;
}
.menu-inner-shadow{
  top: 7.05rem;
}
.bg-menu-theme .menu-inner-shadow{
  background: linear-gradient(#f8a61966 41%, rgb(149 89 0 / 11%) 95%, rgba(255, 255, 255, 0));
}
.bg-menu-theme .menu-inner > .menu-item.active:before {
    background-color: var(--primary-color) !important;
}
.bg-menu-theme .menu-sub > .menu-item.active > .menu-link:not(.menu-toggle):before {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}
.app-brand .layout-menu-toggle{
  background-color: var(--primary-color) !important;
}
.card-title{
    color: var(--primary-color) !important;
}
.bg-menu-theme .menu-link{
  color: var(--text-color) !important;
}
.bg-menu-theme .menu-item.active > .menu-link{
  color: var(--primary-color) !important;
}
.dt-buttons, div.dataTables_wrapper div.dataTables_info{
  position: absolute !important;
}
.dataTable.no-footer{
  margin-top: 65px !important;
  margin-bottom: 30px !important;
}
.dataTables_length{
  position: absolute !important;
  transform: translateY(45px);
}
.my-custom-table-btn{
  color: var(--secondary-color) !important ;
  border-color: var(--secondary-color) !important ;
  background-color: transparent !important;
  box-shadow: none !important;
}
.table th, .table > :not(caption) > * > *{
  color: var(--text-color) !important;
}
.disabled > .page-link{
  color: var(--text-color) !important;
}
.page-item.active .page-link{
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn{
  box-shadow: none !important;
}
.modal-content{
  background-color: var(--card-bg) !important;
  color: var(--text-color) !important;
}
.modal-header{
  border-bottom: 1px solid transparent !important;
  padding-bottom: 15px;
}
.modal-header .btn-close{
  color: var(--text-color) !important;
}
.modal-header .btn-close:hover{
  color: var(--primary-color) !important;
}
.modal-header .btn-close:focus{
  color: var(--primary-color) !important;
}
.form-label, .col-form-label{
  color: var(--text-color) !important;
}
.form-select{
  color: var(--text-color) !important;
}
.form-select:focus {
  border-color: var(--primary-color) !important;
}
.form-select option{
  color: black !important;
}
.form-check-label{
  color: var(--text-color) !important;
}
.form-check-input:checked{
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  box-shadow: none !important;
}
div:where(.swal2-container){
  z-index: 99999 !important;
}
.contact-card{
  box-shadow: 0 0 10px skyblue !important;
  white-space: normal !important;
    word-break: break-word;
}
.contact-card h3{
  color: var(--primary-color) !important;
  font-size: 21px;
  
}
.bank_card_icon{
  font-size: 45px !important;
}
.bank_card_info h4{
  font-size: 16px !important;
  margin-bottom: 0px !important;
  text-align: right !important;
}
.bank_type{
  font-size: 9px !important;
  padding: 3px 8px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: black !important;
  width: fit-content;
  
}
.holder_name{
  font-size: 16px !important;
  margin-bottom: 5px !important;
}
.nominee{
  font-size: 12px !important;
}
.nav-link{
  color: var(--text-color) !important;
}
.nav-link:hover{
  color: var(--primary-color) !important;
}
.nav-link.active{
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  box-shadow: 0 -2px 0 var(--primary-color) inset !important;
}
.nav-pills .nav-link.active{
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.float-right{
  float: right !important;
}
.font-xx{
  font-size: 14px !important ;
}
table tbody tr:nth-child(odd) {
    background-color: var(--table-odd-row); /* Light green */
}

/* Apply yellow-orange to even rows */
table tbody tr:nth-child(even) {
    background-color: var(--table-even-row); /* Light yellow-orange */
}
.table tbody tr{
  font-size: 13px !important;
}
.table tbody tr td {
  padding: 8px 10px !important;
}
.table thead tr th {
  padding: 15px 10px !important;
}
.table tbody tr td a , .table tbody tr td button {
  padding: 5px 15px !important;
  font-size: 12px !important;
}
.table tbody tr td a i ,  .table tbody tr td button i{
  font-size: 12px !important;
}
.badge.bg-success{
  color: black !important;
}
div.dataTables_wrapper{
    position: unset !important;
}
.select2.select2-container.select2-container--default{
  width: 100% !important;
}
.select2-results__option, .select2-selection__choice__display{
  color: black;
}
.ttoalsamount{
  font-size: 18px !important;
}
.quickdivs{
  padding: 5px;
}
@media screen and (max-width: 768px) {
  .dt-buttons, div.dataTables_wrapper div.dataTables_info{
    position: relative !important;
    margin-bottom: 15px !important;
  }
  .mobile-reports-filter{
    flex-direction: row !important;
    width: 100% !important;
    flex-wrap: wrap !important;
  }
  .mobile-reports-filter-group{
    width: 48% !important;
  }
  .mobile-reports-filter-group1{
    width: 100% !important;
  }
  .mobile-reports-filter-btns{
    
    display: grid !important;
    grid-template-columns: repeat(2, 1fr); /* always 2 columns */
    gap: 10px;
    width: 100%;
  }
  .mobile-reports-filter-btns button {
        width: 100%;
        display: block !important;
        padding: 5px;
        font-size: 14px;
    
    }
  .dataTables_length {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.ttoalsamount{
  font-size: 15px !important;
}
.quickdivs{
      width: 50%;
    flex-grow: 1;
    padding: 5px;
}
.quickdivs .btn{
  width: 100%;
  height: 100%;
  padding: 10px;
}
.themecolor span{
  display: none;
}
}